<div class="row">
	<div class="col-md-6 offset-3">
		<h1 class="text-info">
			Se ha terminado el programa
		</h1>
		<hr />
		<a class="btn btn-outline-success" asp-controller="Peliculas" asp-action="Index">Pagina Principal</a>
	</div>
	
</div>